

h1{
  text-align:center;
  color:white;  
  background-color:lightslategray;
}
input{
  border-radius:7px;
  height:20px;
  width:40%;
  font-size: 18px;
  background-color:rgb(235, 239, 241);
  color:green;
}
button{
  border-radius:10px;
  height:20px;
  background-color:lightblue;
  
}
.cross{
  border-radius:10px;
  height:20px;
  float:right;
  margin-top:5px;
}
.toppart{
  text-align:center;
  width: 100%;
  display: inline-block;
  
}

.full{
  width: 100%;
  background-color:lightgrey;
  display:inline-flex;
}
.firstbox {
  color:green;
  margin-left:5%;
  margin-right: 5%;
  width: 33.3%;
  float: left;
 }
 .list{
   margin-bottom:5px;
   background-color:lightgreen;
   border: 1px solid;
   border-radius:10px;
   height:30px;
 }
 .secondbox{
   float: center;
   width:33.3%;
   color: green;
   margin-left:5%;
  margin-right: 5%;
   }

 .thirdbox{
  
    float: right;
    width: 33.3%;
    color: green;
    margin-left:5%;
  margin-right: 5%;
    }
